---
import Container from "@components/Container.astro";
import Layout from "../layouts/Layout.astro";
import TagCloud from "../components/TagCloud.astro";
---

<Layout title="About" description="More About Virgil">
  <Container>
    <article class="stack">
      <p>
        Someone (probably me) mis-typed or renamed a URL without a redirecty.
        Much apologies! I'll fix it after a walk.
      </p>

      <img
        src="/assets/eagle.jpg"
        alt="404 - eagle walking angrily on a mental health walk"
        style="border: 1px solid black;"
      />

      <p>
        In the meantime, you can browse the tags and see if you can find what
        you're looking for. Or maybe it really wasn't what you're looking for,
        after all...
      </p>

      <hr />

      <p></p>

      <TagCloud />
    </article>
  </Container>
</Layout>
