---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"stories">;
};

const { entry } = Astro.props;
---

<li class="story-item">
  <a href={`/${entry.collection}/${entry.id}`} class="story-link">
    <div class="story-item-container">
      <div class="story-item-header">
        <h3 class="story-item-title">{entry.data.title}</h3>
        <div class="story-item-date">
          {new Date(entry.data.date).toLocaleDateString("en-UK", {
            month: "short",
            day: "numeric",
            year: "numeric",
          })}
        </div>
      </div>
      {entry.data.description && (
        <p class="story-item-description">{entry.data.description}</p>
      )}
    </div>
  </a>
</li>
