---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import FooterDivider from "@components/FooterDivider.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <FooterDivider />
    <Footer />
    <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"
    ></script>
    <script is:inline>
      document.addEventListener("DOMContentLoaded", function () {
        if (window.kofiWidgetOverlay) {
          window.kofiWidgetOverlay.draw("yakbrother", {
            type: "floating-chat",
            "floating-chat.donateButton.text": "Tip Me",
            "floating-chat.donateButton.background-color": "#d9534f",
            "floating-chat.donateButton.text-color": "#fff",
          });
        } else {
          console.error("Ko-fi widget failed to load");
        }
      });
    </script>
  </body>
</html>
